
<ion-content>
  <form (ngSubmit)="loginSubmit()">
    
    <div class="logo-app">
      <ion-img [src]="'assets/logo-login.png'"></ion-img>
    </div>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" [ngModelOptions]="{ standalone: true }"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" type="password" ></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" size="default">Signin</ion-button>
      
    </ion-list>
  </form>
</ion-content>
