<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section id="view-cat">
    <ion-card>
      <ion-img [src]="'https://static.wixstatic.com/media/c3bc49_896623ece76c4ef2945ad8d7514523a5~mv2.jpg/v1/fill/w_626,h_461/c3bc49_896623ece76c4ef2945ad8d7514523a5~mv2.jpg'"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>M</ion-card-subtitle>
        <ion-card-title>@emma</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Me gusta cazar y comer hamburguesas ...
      </ion-card-content>
    </ion-card>
  </section>

  <section class="actions-buttons">

    <ion-fab-button color="light">
      <ion-icon name="heart-dislike"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="secondary">
      <ion-icon name="heart"></ion-icon>
    </ion-fab-button>

  </section>

</ion-content>
