<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section id="view-cat">
    <ion-card>
      <ion-img [src]="catViewed.image"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{ catViewed.name }}</ion-card-subtitle>
        <ion-card-title>{{ catViewed.nick }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ catViewed.bio }}
      </ion-card-content>
    </ion-card>
  </section>

  <section class="actions-buttons">

    <ion-fab-button color="light">
      <ion-icon name="heart-dislike"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="secondary">
      <ion-icon name="heart"></ion-icon>
    </ion-fab-button>

  </section>

</ion-content>
